<h2>All the movies!</h2>

<ul>
  <% @movies.each do |movie| %>
    <li><a href="/movies/<%= movie[:id] %>"><%= movie[:title] %></a></li>
  <% end %>
</ul>

<div>
  <% if !on_first_page?(@page_num) %>
    <a href="/movies?page=<%= @page_num - 1 %>">Previous</a>
  <% end %>
  <% if on_last_page?(@page_num, @last_page_num) %>
    <a href="/movies?page=<%= @page_num + 1 %>">Next</a>
  <% end %>
</div>
